:root {
    --md-code-hl-number-color: #AE81FF;
    --md-code-hl-special-color: #84FA95;
    --md-code-hl-function-color: #28AF35;
    --md-code-hl-constant-color: #43B187;
    --md-code-hl-keyword-color: #EF4B46;
    --md-code-hl-string-color: #EBCB98;
    --md-code-hl-name-color: #E78F4C;
    --md-code-hl-operator-color: #510EF7;
    /* --md-code-hl-punctuation-color: #000000; */
    --md-code-hl-comment-color: #8BB1D1;
    /* --md-code-hl-generic-color: #000000; */
    --md-code-hl-variable-color: #DDD70A;
}